@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

:root {
  --background: #f0f2f5;
  --text-color-primary: #1e3050;
}

body {
  color: var(--text-color-primary);
  background: var(--background);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  min-height: 100vh;
}
